<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="news" class="com.javalab.newsportal.model.News" scope="prototype">
        <property name="content" value="Breaking news!!!"/>
    </bean>

    <bean id="comment" class="com.javalab.newsportal.model.Comment" scope="prototype">
    </bean>

</beans>